/* Hero Section */
.hero {
    background: linear-gradient(rgba(51, 45, 45, 0.8), rgba(51, 45, 45, 0.8)), url('hero-background.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 4rem 0;
}

.page-title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.page-subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

/* Blog Posts Section */
.blog-posts {
    padding: 3rem 0;
}


.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
}

.post-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.post-image {
    width: 100%;
    height: 180px;
    background-size: cover;
    background-position: center;
}

.post-content {
    padding: 1rem;
}

.post-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0;
    text-align: center;
}

.post-excerpt {
    font-size: 1rem;
    color: #666;
    text-align: center;
    margin-bottom: 1rem;
}

.post-card .btn {
    background-color: #ffcc00;
    color: #332D2D;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.post-card .btn:hover {
    background-color: #332D2D;
    color: #ffcc00;
}

/* Responsive Styles */
@media (max-width: 768px) {
 
    .page-title {
        font-size: 2rem;
    }

    .page-subtitle {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .post-excerpt {
        font-size: 0.9rem;
    }
}
