body{
    background-color:   #F0ECEC;
    font-family: 'roboto', sans-serif;
}
.call-to-action {
    background-color: #332D2D;
    color: white;
    padding: 2rem;
    text-align: center;
}


#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#scroll-to-top.show {
    display: block;
    z-index: 9999;
   
}
#scroll-to-top i {
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
}

/* Modal buttons Styling */

.modal-footer-container {
    position: relative;
    height: 0;
  }
  
  .modal-footer {
    position: absolute;
    bottom: -60px; /* Moves the buttons 30px below the modal's bottom edge */
    left: 0;
    right: 0;
    background-color: transparent; /* Ensure background is transparent */
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    padding: 10px;
  }
  
  .modal-content {
    padding-bottom: 10px; /* Increase the modal's bottom padding to avoid overlap */
  }
  
  .modal-dialog {
    margin-bottom: 60px; /* Increase the bottom margin of the modal to make space for the buttons */
  }
  
